.App {
  text-align: center;
}

.header, .beehive-info{
  background-color: #FF7F50;
  border-style: solid;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 4px;
}

.navbar {
  background-color: #ffe135;
  border-style: solid;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 42%;
  margin-right: 42%;
  padding: 4px;
  font-size: 18px;
}

#like-button, #delete-button{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:black;
  background-color: #FF7F50;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}

.home, .beehive, .owner, .form {
  background-color: #ffe135;
  border-style: solid;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 4px;
}

#submit-button {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:black;
  background-color: #FF7F50;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}